{% include 'themes/default/Public/header.html' %}

	<!-- Codemirror 和 marked 依赖 kaysen -->
	<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <script src="/static/js/jquery.cookie.js"></script>
	<script src="/static/codemirror/lib/codemirror.js"></script>
	<script src="/static/codemirror/mode/markdown/markdown.js"></script>
	<script src="/static/codemirror/addon/mode/overlay.js"></script>
	<script src="/static/codemirror/mode/xml/xml.js"></script>
	<script src="/static/codemirror/mode/gfm/gfm.js"></script>
	<script src="/static/js/marked.min.js"></script>

	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

		<div class="uk-grid" data-uk-grid-margin>
			<div class="uk-width-medium-3-4">
			{% if pagebar %}
				{% for item in pagebar %}
				<article class="uk-article">

					<h2 class="uk-article-title">
						<a href="/detail/?aid={{item.article_id}}">{{item.title}}</a>
					</h2>
					<p class="uk-article-meta">
						<a href="" class="uk-icon-calendar f_light_blue mr20">&nbsp;{{item.update_time}}</a>
						<a href="" class="uk-icon-eye f_light_blue mr20">&nbsp;{{item.look_count}}</a>
						<a href="" class="uk-icon-comment f_light_blue mr20">&nbsp;{{item.comment_count}}</a>
					</p>

					<p>
						<a href="/detail/?aid={{item.article_id}}"><img src="http://{{ url }}/{{ item.article_pic|cut:"Kblog/" }}"></a>
					</p>

					<script type="text/html" id="mkHtml_{{item.article_id}}">{{item.content}}</script>
					<div class="word_wrap">
						<script>document.write(marked($('#mkHtml_{{item.article_id}}').html()));</script>
					</div>

					<p>
	    				<a class="uk-button uk-button-primary" href="/detail/?aid={{item.article_id}}">Continue Reading</a>
					</p>

				</article>
				{% endfor %}

				<ul class="uk-pagination">
						{% if pagebar.has_previous %}
							<li><a href="?page={{ pagebar.previous_page_number }}">上一页</a></li>
						{% endif %}

						<li class="uk-active">
							当前：{{ pagebar.number }} / {{ pagebar.paginator.num_pages }}
						</li>
						<li class="has_other_pages()"></li>
						{% if pagebar.has_next %}
							<li><a href="?page={{ pagebar.next_page_number }}">下一页</a></li>
						{% endif %}
					</span>
				</ul>
			{% endif %}

			</div>

			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box uk-text-center">
					<img class="uk-border-circle" width="120" height="120" src="" alt="">
					<h3>Kaysen</h3>
					<p class="lh30 ta_l">
					5年纯研发经验、爱宅、爱技术<br />
					技术方向:php, linux, 数据库, python<br />
					WooYun社区知名白帽子团队成员 <br />
					</p>
				</div>
				<div class="uk-panel uk-form">
					<form action="" method="POST">
						<span style="width:180px;" class="fl mr05"><input type="text" placeholder="" name="word" class="uk-width-1-1" value="{{word}}"></span>
						<button type="submit" class="uk-button"><i class="uk-icon-search"></i>&nbsp;搜索</button>
						{% csrf_token %}
					</form>
				</div>
				<div class="uk-panel">
					<h3 class="uk-panel-title">Archives</h3>
					<ul class="uk-list uk-list-line">
						{% for item in contentDateList %}
						<li><a href="#">{{item.created}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="uk-panel">
					<h3 class="uk-panel-title">Category</h3>
					<ul class="uk-list uk-list-line">
						{% for item in categoryList %}
						<li><a href="{{item.id}}">{{item.count|safe}}{{item.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="uk-panel">
					<h3 class="uk-panel-title">Social Links</h3>
					<ul class="uk-list">
						<li><a href="#">GitHub</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook{{test}}</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>

{% include 'themes/default/Public/footer.html' %}
