{% include 'manage/manage_header.html' %}
	
	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	<form class="uk-form-horizontal" method="POST" action="">
		<h3 class="tm-article-subtitle">网站基本设置</h3>

		<div class="uk-form-row mt10">
			<label class="uk-form-label">站点地址</label>
			<div class="uk-form-controls">
				<input type="text" name="url" class="uk-form-width-medium" value="{{detail.url}}" />
			</div>
		</div>

		<div class="uk-form-row">
			<label class="uk-form-label">网站标题</label>
			<div class="uk-form-controls">
				<input type="text" name="title" class="uk-form-width-large" value="{{detail.title}}" />
			</div>
		</div>

		<div class="uk-form-row mt10">
			<label class="uk-form-label">站点描述</label>
			<div class="uk-form-controls">
				<input type="text" name="description" class="uk-form-width-large" value="{{detail.description}}" />
			</div>
		</div>

		<div class="uk-form-row mt10">
			<label class="uk-form-label">关键词</label>
			<div class="uk-form-controls">
				<input type="text" name="keyword" class="uk-form-width-large" value="{{detail.keyword}}" />
			</div>
		</div>

		<div class="uk-form-row mt10">
			<label class="uk-form-label">是否允许注册</label>
			<div class="uk-form-controls">
				<label><input type="radio" name="allowRegister" {% if detail.allowRegister == '0' %}checked="true"{% endif %} value="0">不允许</label>
				<label><input type="radio" name="allowRegister" {% if detail.allowRegister == '1' %}checked="true"{% endif %} value="1">允许</label>
			</div>
		</div>

		<div class="uk-form-row mt10">
			<label class="uk-form-label">是否允许评论</label>
			<div class="uk-form-controls">
				<label><input type="radio" name="allowComment" {% if detail.allowComment == '0' %}checked="true"{% endif %} value="0">不允许</label>
				<label><input type="radio" name="allowComment" {% if detail.allowComment == '1' %}checked="true"{% endif %} value="1">允许</label>
			</div>
		</div>

		<div class="uk-form-row mt10">
			<label class="uk-form-label"></label>
			<div class="uk-form-controls">
				<button type="submit" class="uk-button uk-button-success">保存设置</button>
			</div>
		</div>
		{% csrf_token %}
	</form>
	</div>
</body>
</html>
