{% include 'manage/manage_header.html' %}
	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		<h3 class="tm-article-subtitle">网站外观</h3>

		<ul class="uk-tab">
			<li class="uk-active"><a href="/manage_themes/">更换外观</a></li>
			<li class=""><a href="/manage_theme_edit/">编辑当前外观</a></li>
		</ul>
		<ul class="uk-switcher uk-margin" id="tab-content">
			<li class="uk-active" aria-hidden="false">

				<table class="uk-table uk-table-condensed">
					<tr>
						<th>截图</th>
						<th>详情</th>
						<th></th>
					</tr>

					{% for key, value in configList.iteritems %}
					<tr {% if value.path == currTheme %}bgcolor="#fff9e8"{% endif %} >
						<td width="220">
							<div class="uk-thumbnail">
								<img src="/static/uikit/img/placeholder_200x100.svg" alt="">
							</div>
						</td>
						
						<td>
							<h3>{{value.title}}</h3>
							<span>作者: <a href="{{value.url}}" target="_blank">{{value.author}}</a> &nbsp;&nbsp;版本: {{value.verision}}</span>
							<p>{{value.detail}}</p>
						</td>

						<td class="uk-text-middle">
							{% if value.path != currTheme %}
							<form action="/manage_theme_swich/" method="POST">
								<input type="hidden" name="change" value="{{value.path}}">
								<button class="uk-button" type="submit">开启</button>
								{% csrf_token %}
							</form>
							<br>
							<a class="uk-button" href="/manage_theme_edit/?theme={{value.path}}">编辑</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</li>
			<li aria-hidden="true">
			</li>
		</ul>
	</div>

</body>
</html>
