{% include themeHeader %}
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom" style="padding:30px 100px;">
	<div data-uk-alert="" class="uk-alert uk-alert-success uk-alert-large">
		<a class="uk-alert-close uk-close" href=""></a>
		<h2><i class="uk-icon-check uk-icon-medium"></i>退出成功</h2>
		<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
	</div>
</div>
